name: uploading and downloading files

on: push

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create a file
        run: touch icecream.txt

      - name: Add content to icecream.txt
        run: echo "i like icecream's" > icecream.txt

      - name: Read icecream.txt
        run: cat icecream.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: icecream
          path: icecream.txt

  write:
    runs-on: ubuntu-latest
    needs: create
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: icecream

      - name: Add new line to icecream.txt
        run: echo "i like chocolates" >> icecream.txt

      - name: Read updated file
        run: cat icecream.txt
