name: hello-world
on:
  push:
    branches: [ main ]
jobs:
    say-hello:
        runs-on: ubuntu-latest
        steps:
            - name: Hello world action step
              run: echo "Hello, world! from inline bash script step"
    hello-from-python:
        runs-on: ubuntu-latest
        steps:
            - name: Hello from Python
              run: print("Hello from Python script")
              shell: python
   
